.nav {
  display: flex;
  background-color: blue;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.divNav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1vh;
  justify-content: space-evenly;
}
