.boxText{
  text-align: center;
  font-size: 1.5rem;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.gray{
  background-color: gray;
}
.brown{
  background-color: brown;
}
.lightblue{
  background-color: lightblue;
}
.pink{
  background-color: pink;
}
.violet{
  background-color: violet;
}
.black{
  background-color: black;
}
.white{
  background-color: white;
}